
/* Table of Content
================================================== */


/* Header Styles
================================================== */

header { background-position: top center; width: 100%; height: 1600px; position: absolute; overflow: hidden; text-align: center; color: #fff;
	.nav-bar { position: relative; transition: 0.2s all; }
	.top-third { width: $one_third; float: left; min-height: 40px;
		@include breakpoint(portrait) { width: 100%; }
		.top-third-text { margin-top: 10px; position: relative;
			.main-text { color: black; text-transform: uppercase; font-family: $gothic; margin-left: auto; margin-right: auto; font-size: 20px; }
			.sub-text { color: white; text-transform: uppercase; font-family: $nexa-bold; margin-left: auto; margin-right: auto;
				@include breakpoint(smallscreen) { font-size: 13px; }
				@include breakpoint(landscape) { font-size: 13px; }
				@include breakpoint(portrait) { font-size: 13px; }
			}
		}
	}

	.show { margin-top: 0px; }

	.container { position: relative; height: 100%;}

	// first row
	#logo { float: right; overflow: visible; position: relative; margin-top: 20px;
		@include breakpoint(smallscreen) { float: left; }
		@include breakpoint(smallscreen) { float: left; }
		@include breakpoint(landscape) { float: left; }
		@include breakpoint(portrait) { float: left; }
		img { max-width: none;
			@include breakpoint(fullscreen) { width: 215px; margin-top: 20px; }
			@include breakpoint(smallscreen) { width: 215px; margin-top: 20px; }
			@include breakpoint(landscape) { width: 215px; margin-top: 20px; }
			@include breakpoint(portrait) { width: 215px; margin-top: 20px; }
		}
	}

	#menu { display: none; float: right; color: white; margin-top: 40px; cursor: pointer;
		@include breakpoint(landscape) { display: inline-block; }
		@include breakpoint(portrait) { display: inline-block; }
	}

	.clinic-2, .platform-2, .outreach-2 { display: none; }

	#mainNav { float: right; margin: 40px 0px;
			ul { list-style: none; margin-left: none; float: right;
				li { text-transform: uppercase; display: inline; padding: 0px 5px;
					a { color: white; font-family: $gothic; font-size: 26px; text-decoration: none; padding: 0 5px;
						@include breakpoint(smallscreen) { font-size: 22px; }
					}
					a:hover { opacity: 0.8; }
				}
				li:last-child { padding-right: 0px; }
				li:first-child { padding-left: 0px; }
			}
			@include breakpoint(landscape) { display: none; }
			@include breakpoint(portrait) { display: none; }
		}

	#mainNav ul li ul { position: absolute; margin: 0; padding: 5px 15px; background: #f26e61; margin-top: -2px; display: none; right: 0; }
	#mainNav ul li ul li a { display: inline; font-size: 20px; padding: 0; }

	#mainNav ul li.menu-item-has-children:hover a { background: #f26e61; opacity: 1; }
	#mainNav ul li:hover ul { display: block; }

	#responsiveNav { display: none; float: left; background-color:rgba(0, 0, 0, 0.5); padding: 80px; position: absolute; top: 146px; z-index: 9999; right: 0px; left: 0px; bottom: 0px;
		#menu-main-menu { margin: auto; }
		.close { text-align: left; margin-left: 10px; font-size: 40px; margin-bottom: 10px; }
		ul { list-style: none; margin-left: 0px;
			li { text-transform: uppercase; padding: 5px 10px; text-align: left;
				a { color: white; font-family: $gothic; font-size: 26px; text-decoration: none; }
				a:hover { opacity: 0.8; }
			}
		}
		@include breakpoint(landscape) { top: 66px; }
	}

	.white-ribbon { width: 100%; min-height: 20px; }
	.white-ribbon img {
		@include breakpoint(landscape) { display: none; }
		@include breakpoint(portrait) { display: none; }
	}

	// second row
	.angle-left { float: left; color: black; font-size: 25px; cursor: pointer; transition: 0.2s all; -webkit-transition: 0.2s all; -moz-transition: 0.2s all; -ms-transition: 0.2s all; -o-transition: 0.2s all; margin-left: 15px;
		@include breakpoint(smallscreen) { display: none; }
		@include breakpoint(landscape) { display: none; }
		@include breakpoint(portrait) { display: none; }
	}
	.upside-down { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

	.content-right { float: right; padding-top: 5px; margin-right: 15px;
		span { color: #555555; font-family: $nexa-bold; font-size: 14px; margin-right: 80px; }
		img { position: absolute; top: -8px; right: 15px; }
	}

	// third row

}

.home-callout { z-index: 999; text-align: center;
	span { color: white; text-transform: uppercase; font-family: $gothic; font-size: 70px; border-bottom: 5px solid white;
		@include breakpoint(smallscreen) { font-size: 57px; }
		@include breakpoint(landscape) { font-size: 30px; }
		@include breakpoint(portrait) { font-size: 21px; }
	}

}
.home-callout:after { content: url(assets/img/circle_and_line.png); position: relative; display: block; margin-top: 13px; z-index: 999; text-align: center;
	@include breakpoint(landscape) { margin-top: 5px; }
	@include breakpoint(portrait) { margin-top: 5px; }
}

/* Navigation Styles
================================================== */

/* Staff Styles
================================================== */

.specialty { margin-bottom: 5px !important; }

.staff { margin-left: 0 !important; margin-bottom: 50px; }
.staff-member { margin-bottom: 20px;
	.picture { width: 100px; height: 100px; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; margin: 10px auto; }
	.name { font-family: $gothic; text-transform: uppercase; font-size: 26px; margin-right: 5px; }
	.title { font-family: $gothic; text-transform: uppercase; color: $blue; }
	.question { font-family: $gothic; text-transform: uppercase; font-size: 18px; margin-right: 5px; }
	.answer { font-family: $nexa-light; font-size: 16px; }
	.description {}
}

/* Responsive Menu
================================================== */


/* Sidebar
================================================== */

.sidebar { float: right !important; margin-bottom: 20px;
	.textarea { margin: 0px auto 30px;
		.textarea-headline { font-family: $gothic; text-transform: uppercase; color: black; font-size: 22px; margin-bottom: 10px; }
		.textarea-body {  font-family: $nexa-light; color: black; }
	}

	.callout { margin: 0px 0px 30px; font-family: $nexa-light; font-size: 34px; line-height: 39px; color: black; }

	blockquote { margin: 10px 0px 30px; }
}

/* Homepage Styles
================================================== */



.wrapper { top: 425px; position: absolute; width: 100%;
	@include breakpoint(smallscreen) { top: 360px; }
	@include breakpoint(landscape) { top: 360px; }
	@include breakpoint(portrait) { top: 360px; }
}

#slogan { position: relative; top: 80px; }

#content { background: $purple;
	.content-callout { text-align: center; padding: 80px 16% 40px;
		span { font-family: $nexa-light; font-size: 22px; line-height: 35px; }
		h3 { margin-bottom: 10px; }
	}
	.content-holder { height: 90px; }
}

#overview { padding-top: 30px;
	.overview-callout { border: 2px solid black; padding: 35px; text-align: center;  margin: 0px 0px 30px; color: black;

		
		@include breakpoint(smallscreen) { margin: 20px 0px; }
		@include breakpoint(landscape) { margin: 20px 0px; }
		@include breakpoint(portrait) { margin: 20px 0px; }

		.overview-callout-headline { font-family: $gothic; text-transform: uppercase; font-size: 22px; margin-bottom: 10px; line-height: 22px; }
		.overview-callout-body { font-family: $nexa-light; }
	}
	.overview-callout-hover:hover { background: black; color: white; }
}

#contact { background: white;
	.contact-callout { text-align: center; padding: 50px 10px 50px; display: block; float: left; width: 100%;
		p { font-family: $nexa-light; font-size: 22px; line-height: 35px; }
		h3 { margin-bottom: 10px; }
	}
	.participant { float: left; width: 110px; margin: 15px; }
}

#video {
	.video-container { display: block; width: 100%; margin-top: 50px; margin-bottom: 40px; float: left; }
	.video-callout { text-align: center; margin: auto; display: block; width: 100%; width: 653px; height: 367px;
		span { font-family: $gothic; color: white; text-transform: uppercase; text-align: center; display: block; font-size: 26px;  position: relative; top: 50%; transform: translateY(-50%); }
	}
	.video-callout:hover { opacity: 0.7; }
}

#testimonial { background: $purple;
	.testimonial-callout { text-align: center; padding: 50px 16%;
		span { font-family: $gothic; text-transform: uppercase; font-size: 22px; }
	}
}

#video-thumbnails { padding: 50px;
	h3 { margin-bottom: 10px; display: block; text-align: center; }
	.video-holder { height: 230px; margin-bottom: 30px;
		span { font-family: $gothic; color: white; text-transform: uppercase; text-align: center; display: block; font-size: 26px;  position: relative; top: 50%; transform: translateY(-50%); }
	}
	.video-holder:hover { background: black !important; }
}

#calendar { padding: 50px;
	h3 { margin-bottom: 30px; display: block; text-align: center; }
}

.calendar-entry-header { font-family: $gothic; font-size: 22px; float: left; display: block; width: 100%; margin-bottom: 15px;
	.calendar-entry-date-month { text-transform: uppercase; border-radius: 50%; width: 39px; height: 39px; color: white; text-align: center; line-height: 39px; float: left; margin-right: 3px; }
	.calendar-entry-date-day { line-height: 33px; width: 33px; float: left; text-align: center; border-radius: 50%; height: 33px; border-style: solid; border-width: 3px; margin-right: 3px; }
	.calendar-entry-title { text-transform: uppercase; line-height: 39px; float: left; }
}

.calendar-current-title { text-transform: uppercase; float: left; font-family: $gothic; font-size: 22px; display: block; width: 100%; margin-bottom: 5px; }

.calendar-entry-body {
	line-height: 1.5em;
}

.calendar-cta { text-align: center; margin-top: 20px; }

.calendar-current { margin: 20px 0; float: left; width: 100%; }
.calendar-current-header { margin-bottom: 10px; }

.calendar-current-left { width: 20%; float: left; }
.calendar-current-right { width: 80%; float: left; margin-bottom: 20px; }

.calendar-current-today { font-family: $gothic; text-transform: uppercase; border-radius: 50%; width: 100px; height: 80px; color: white; text-align: center; line-height: 30px; float: left; margin-right: 3px; background-color: $purple; font-size: 28px; padding-top: 20px; margin-top: 25px; }

.calendar-current-filter { display: block; width: 100%; float: left; }


h3 { margin-bottom: 10px; display: block; }
.case-study { height: 250px;
	.case-study-image { display: block; float: left;
		img { float: left; }
	}
	.case-study-title { display: block; background-color: white; float: left; width: 100%;
		.case-study-title-text { display: block; padding: 15px; float: left;
			span {  text-transform: uppercase; font-family: $gothic; color: black; }
			span:hover { opacity: 0.7; }
		}
	}
}
.case-study:hover .case-study-title { background-color: black; }
.case-study:hover .case-study-title span { color: white; }

.resources { margin-left: 0 !important; margin-bottom: 20px; height: 300px;
	.case-study-title { background-color: black; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border: 2px solid black;
		.case-study-title-text {
			span { color: white; }
			span:hover { opacity: 0.7; }
		}
	}

	.case-study:hover .case-study-title { background-color: white; }
	.case-study:hover .case-study-title span { color: black; }
}

.calendar-type-header {
	border-top: 2px solid black;
	padding: 30px 0 20px;
	margin-top: 20px;
	float: left;
	width: 100%;
}

#image {
	.image-holder { height: 180px; }
}


.header-image {
	height: 600px;
	position: absolute;
	z-index: -10;
	top: 60px;
	width: 100%;
}

.lightbox {
	display: none;
}

.featherlight-content {
	padding: 20px 20px 15px 20px !important;
}

/* PAGE Styles
================================================== */

#page-content { padding-top: 30px;
	.page-content-block { margin-left: 0px; }
}

/* Contact Styles
================================================== */

#wpgmza_map {
	margin-bottom: 30px;
}

/* FOOTER Styles
================================================== */

footer { background: black; width: 100%;
	.footer-content { padding: 30px 0px;
		.footer-logo { margin-bottom: 10px; }
		.footer-contact {
			p { font-family: $nexa-light; color: white; line-height: 1.5em; }
		}
		.footer-headline { border-bottom: 3px solid white; padding-bottom: 10px; margin-bottom: 10px;
			span { font-family: $gothic; text-transform: uppercase; color: white; font-size: 22px; }
		}
		.footer-body {  padding-bottom: 5px;
			p { margin-bottom: 10px;
				a { font-family: $gothic; text-transform: uppercase; color: white; font-size: 22px; text-decoration: none; }
				a:hover { opacity: 0.7; }
			}
		}
	}
}

.circle-icon {
	float: left;
	margin-right: 5px;
	color: black;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: white;
	border-radius: 100%;
	text-align: center;
}

.circle-icon:hover {
	background-color: black;
	color: white;
}

/* #Button Styles
================================================== */

/*

<a href="">
	<div class="btn">
		<div class="btn-headline">
			<span>Headline goes here</span>
		</div>
		<div class="btn-body">
			<span>The body and anything you want to say goes here</span>
		</div>
	</div>
</a>

*/

.btn {  padding: 1% 10%; display: block; border: 2px solid black; color: black; text-align: center; margin-bottom: 8px;
	.btn-headline { font-family: $gothic; text-transform: uppercase; font-size: 20px; line-height: 30px; }
	.btn-body { font-family: $nexa-light; }
}
.btn:hover { background-color: black !important; color: white; }

.filter-header { display: inline-block; float: left; margin-right: 10px; line-height: 44px;  }
.filter { float: left; padding: 1% 7%; margin-right: 10px; cursor: pointer; }
.filter:hover { background-color: black !important; color: white; }

.calendar-icon { border: 2px solid black; text-align: center; padding: 2px; font-size: 10px !important;  }
.calendar-icon:hover { background: black; color: white; cursor: pointer; }

/* #Blog Styles
================================================== */

.active { background: black; color: white; }

.calendar-by-date { padding-top: 30px; border-top: 2px solid black; margin-top: 20px; width: 100%; float: left; }

/* #Media Queries
================================================== */



	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
